 nav{
    margin-left: 72%;
    display: block;
}
 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
 li {
    float: left;
}
 li a {
    padding: 2.5px 2.5px;
    color: blue;
    text-align: center;
    text-decoration: underline;
}
 h1{
    padding:25px;
    text-align: center;
    color: blue;
    text-decoration: underline;
    font-size: 40px;
}
 img{
    border-radius: 60%;
    width: 250px;
    height: 360px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
 .centermain {
    padding:7px;
    margin: auto;
    width: 700px;
    border: 1px solid cyan;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
 #EarlyLife,#Career,#PersonalLife,#InterestingFacts{
    text-align: center;
    color: blue ;
    text-decoration: underline; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
 div p{
    margin: auto;
    width: 770px;
    border: 1px solid cyan;
    font-family: Arial, Helvetica, sans-serif;
}
 #Honours{
    text-align: center;
    color: red ;
    text-decoration: underline;
    font-size: 30px;
}
 .bright{
    color:red;
}
 .bright a:nth-child(odd){
    padding:7px;
    background-color: CadetBlue ;
    text-decoration: none;
    color: white;
   }
 .bright a:nth-child(even){   
   padding:7px;
   text-decoration: none;
   background-color: rgb(255, 94, 0)  ;
   color: white;
}
 ol {
    margin: auto;
    width:750px;
    height:165px;
    border: 1px solid cyan;
    font: 22px 'Great Vibes', Helvetica, sans-serif;
    color: blue;
    font-weight: bold;
}
 ol li{
    width: -webkit-fill-available;
}
 .interesting div {
    text-align: center;
}
 .interesting h3 {
    color: blue;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size:25px;
}
 body{
    background-color: cyan;
}